@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

header{
    z-index: 1001 !important;
}

/* logos -slide */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  

  @media (min-width: 768px) {
    .logos:before,
    .logos:after {
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
    }
    .logos:before {
      left: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }
    
    .logos:after {
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }
  }



  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }
  .create{
    margin-top: 44px;
  }
  .div{
    margin-top: 10px;
  }
  /* input error */
  
  
  input.error {
    border: 1px solid var(--error);
  }
  

.dropdownProfile {
  position: absolute;
  top:4.8rem;
  right :1.1rem;
  width: 120px;
  padding: 15px;
  border-radius: 15px;
  /* background-color: white; */
  border: 1px solid gray;
}

.dropdownProfile::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  right: 2.9rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}